//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 05 11 22:27:19 2024

IO_LOC "testled" 10;
IO_PORT "testled" PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_led" 57;
IO_PORT "lcd_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_cs" 56;
IO_PORT "lcd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_mosi" 53;
IO_PORT "lcd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_sclk" 51;
IO_PORT "lcd_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_dc" 55;
IO_PORT "lcd_dc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rst" 54;
IO_PORT "lcd_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sys_rst_n" 3;
IO_PORT "sys_rst_n" PULL_MODE=UP;
IO_LOC "xtal_clk" 52;
IO_PORT "xtal_clk" PULL_MODE=UP;
